@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400");

body {
    border-collapse: collapse;
    padding: 0; 
    margin: 0; 
    align-items: flex-start;
    display: flex;
    flex-direction: column; 
    letter-spacing: 0.25px;  
    color: #353535; 
    cursor: default; 
    
}

a {
    color: inherit; 
    text-decoration: none;
    cursor: default; 
}

a:hover {
    color: #b5b5b5;
}


img {
    pointer-events: none;
  -webkit-touch-callout: none;
}

.hidden, 
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.navbar {
    position: sticky; 
    top: 0; 
    width: 90%; 
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.navbar-content {
    margin-top: 36px; 
    display: flex; 
    width: 100%;
    position: fixed;
    max-width: 1600px; 
    z-index: 3; 
        color: #5e5e5e;
        mix-blend-mode: difference; 
}

.navbar-name {
    margin-left: 72px;
    white-space: nowrap; 
    overflow: visible; 
    
}

.navbar-pages {
    display: flex;
    margin-right: 15vw; 
    margin-left: auto; 
}

.navbar-link {
    padding-right: 24px; 
}

.gallery {
    align-items: flex-start;
    display: flex;
    position: relative; 
}

.gallery-overview {
    border: 1px none;
    flex-direction: column; 
    height: 100vh; 
    max-width: 1920px; 
    min-width: 360px;
    margin: 120px 0px; 
    scroll-snap-type: y mandatory; 
    scroll-padding-top: 36px; 
    overflow: scroll-y; 

}



.work {
    scroll-snap-stop: always; 
    scroll-snap-align: start; 
    align-self: stretch;
    max-width: 1920px; 
    min-width: 360px;
    flex: 0 0 auto;
    column-gap: 24px;
    margin: 64px 0px;
    width: 100%;
}

.column {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    column-gap: 24px;  
    max-width: 1600px; 
    min-width: 320px; 
}

.main-image {
    align-self: stretch;
    flex: 1;
    flex-grow: 1;
    object-fit: scale-down;
    position: relative; 
    width: 100%; 
}

.column-text {
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column; 
    column-gap: 24px;
    height: inherit;
    justify-content: flex-end;
    margin: auto 8vw 72px 0;
    position: relative;
    
}

.text-main {
    font-size: 14px; 
    align-self: stretch;
    line-height: 21px; 
    position: relative; 
    
}

    
.footer {
   z-index: 3;  
   position: fixed; 
   margin: 95vh 72px; 
   flex-shrink: 0; 

}