.work {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  padding: 24px 0px;
  position: relative;
  width: 1440px;
}

.work .column {
  align-items: flex-start;
  background-color: #f8f8f8;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.work .isaribi {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.work .isaribi-personal-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  height: 540px;
  justify-content: flex-end;
  padding: 0px 24px 72px 0px;
  position: relative;
}

.work .isaribi-personal {
  align-self: stretch;
  color: #000000;
  font-family: "Crimson Text", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  position: relative;
}
